include ../../utility/component-lib/_login_container_generateContainer.pug
include ../../utility/component-lib/_login_background_generateBackground.pug
include ../../utility/component-lib/_modalWindow-mixins.pug
body
  +_login_background_generateBackground("full-page", "full-page-background")
    +_login_container_generateCenteredContainer("primary-container-login")
      .row.no-margin-mobile
        .col-lg-12
          i(class=["fa", "fa-tree fa-2x"] aria-hidden="true")
      .row.m-t-1.no-margin-mobile
        .col-lg-6
          h1.light-text Welcome back to Sagebow.
      .row.m-t-1.no-margin-mobile
        .col-lg-12.p-y-2
          +_login_container_generateClusterContainer("cta-container")
            .row
              .col-lg-5.extend-full-height
                +_login_container_generateVCenteredElementContainer("email-address-container")
                  .form-group
                    input(type="email" class=["form-control", "materialize-form"], id="email-input", for="username", placeholder="Enter your username")
                    label(for="emailAddress" class="label") Username:
              .col-lg-5.extend-full-height
                +_login_container_generateVCenteredElementContainer("password-container")
                  .form-group
                    input(type="password", for="password", class=["form-control", "materialize-form"], id="password-input", placeholder="Enter your password")
                    label(for="emailAddress" class="label") Password:
              .col-lg-2.extend-full-height
                +_login_container_generateVCenteredElementContainer("login-container")
                  .form-group
                    a(class=["btn", "btn-login"]) Login
                    label(class=["consistency-hide"] for="btn") Password:
            .row
              .col-lg-5.m.y-3
                +_login_container_generateVCenteredElementContainer("email-address-container")
                  .form-group
                    a(class=["btn", "btn-make-account"] href="/setup") Create a new account.
                    
+generateModalWindow("modal-incomplete-input", "Oh No!", "danger-text", "You entered incomplete data! Please fill out all the forms.", "Exit", "btn-modal-incomplete-input-reject")
+generateModalWindow("modal-dne-input", "Oh No!", "danger-text", "Your username is not in our database! Maybe make an account?", "Exit", "btn-modal-dne-input-reject")
+generateModalWindow("modal-ip-input", "Oh No!", "danger-text", "Your password is incorrect.", "Exit", "btn-modal-ip-input-reject")