body
  .full-background
    .primary-container
      .row.m-t-1.no-margin-mobile
        .col-lg-12.text-lg-left.text-xs-center
          i.fa.fa-tree.fa-2x(aria-hidden="true")
      .row.m-t-1.no-margin-mobile
        .col-lg-6.text-lg-left.text-xs-center
          h1.light-text   Sagebow
        .col-lg-6.text-lg-right.text-xs-center
          h4.light-text-smaller Viewing your history
      .row.m-t-1.no-margin-mobile
        .col-lg-12.p-y-2
          div.cta-container
            h2 tl;dr ... YOU'RE A FAT FUCK