@mixin generateMediumButton($background,
			    $border-radius,
			    $text-color,
			    $text-transform,
			    $offset-top,
			    $transition-duration,
			    $hover-background,
			    $hover-text-color,
			    $shadow-parameters)
{
  background: $background;
  padding: 10px 24px 10px 24px;
  position: relative;
  top: $offset-top;
  margin: 0px;
  border-radius: $border-radius;
  color: $text-color;
  font-size: 14px;
  text-align: center;
  text-transform: $text-transform;
  text-decoration:none;
  border: none;
  outline: none;
  transition-duration: $transition-duration;

  &:hover {
    background: $hover-background;
    color: $hover-text-color;
    transition-duration: $transition-duration;
    box-shadow: $shadow-parameters;
  }
}
			    
@mixin generateLowHeightButton($background,
			    $border-radius,
			    $text-color,
			    $text-transform,
			    $offset-top,
			    $transition-duration,
			    $hover-background,
			    $hover-text-color,
			    $shadow-parameters)
{
  position: relative;
  background: $background;
  padding: 10px 24px 10px 24px;
  top: $offset-top;
  margin: 0px;

  @media screen and (max-width: 767px){
    min-height: 40px;
  }

  @media screen and (min-width: 768px){
    line-height: 15px;
    min-width: 68px;
  }

  border-radius: $border-radius;
  color: $text-color;
  font-size: 14px;
  text-align: center;
  text-transform: $text-transform;
  text-decoration:none;
  border: none;
  outline: none;
  transition-duration: $transition-duration;

  &:hover {
    background: $hover-background;
    color: $hover-text-color;
    transition-duration: $transition-duration;
    box-shadow: $shadow-parameters;
  }
}
					     

.btn-margin-fix {
    margin-left: -1px !important;
}
