mixin _accountCreation_form_generateFormInput(argid, placeholder) 
  .row.m-t-1
    .col-lg-6.p-y-0
      .form-group
        input(type="info" class=["form-control", "materialize-form"], id=argid, placeholder=placeholder)
