include ../../utility/component-lib/_login_container_generateContainer.pug
include ../../utility/component-lib/_login_background_generateBackground.pug
include ../../utility/component-lib/_modalWindow-mixins.pug
include ../../utility/component-lib/_mkacct_element_mixins.pug
include ../../utility/component-lib/_dropdown_element_mixins.pug
body
  +_login_background_generateBackground("full-page", "full-page-background")
    +_login_container_generateCenteredContainer("primary-container")
      .row.no-margin-mobile
        .col-lg-12.text-lg-left.text-xs-center
          i(class=["fa", "fa-tree fa-2x"] aria-hidden="true")
      .row.m-t-1.no-margin-mobile
        .col-lg-6.text-lg-left.text-xs-center
          h1.light-text Sign Up
        .col-lg-6.text-lg-right.text-xs-center
          h4.light-text-smaller Welcome To Sagebow!
      .row.m-t-1.no-margin-mobile
        .col-lg-12.p-y-2
          +_login_container_generateClusterContainer("cta-container")
            +_accountCreation_form_generateFormInput("weight-input", "Weight (in pounds)")
            +_accountCreation_form_generateFormInput("height-input", "Height (in feet)")
            +_accountCreation_form_generateFormInput("age-input", "Age")
            .row.m-t-1
              .col-xs-6
                a(class=["btn", "btn-login"]) Gender
                +generateBtnGroup("gender-selector", [["Female", "#"], ["Male", "#"]])
              .col-xs-6.p-y-0.super-small.p-x-2
                p.text-xs-left All users of Sagebow should consult a physician before following any dietary advice given on this website.
            .row.m-t-1.text-xs-center
              .col-xs-12
                a(class=["btn", "btn-login"]) Create a new account.
            //+_accountCreation_form_generateDropdownForm("dropdown-gender", "Dropdown", ["Female", "Male"])
            //+_accountCreation_form_generateDropdownForm("dropdown-goal", "Goal", ["Bodybuilding", "Weight Loss", "Maintainence"])

+generateModalWindow("modal-rejected", "Oh No!", "danger-text", "Unfourtunately your input information was not correct. Please enter it again.", "Exit", "btn-reject")
+generateModalWindow("modal-user-exists", "Oh No!", "danger-text", "We have detected that a user with this email already exists!", "Exit", "btn-reject btn-user-exists-close")
+generateModalWindow("modal-internal-error", "Oh No!", "danger-text", "Internal server error.", "Exit", "btn-reject btn-internal-error-close")
+generateModalWindow("modal-incomplete-data", "Oh No!", "danger-text", "You did not enter all the required data fields.", "Exit", "btn-reject btn-incomplete-data-close")
