.navbar-sagebow {
    top: 0;
    width: 100vw !important;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: lighten(grey, 45%);
    
    @media screen and (min-width: 768px) {
      padding-left: 5vw;
      padding-right: 5vw;
    }
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    
    
}
