include utility/_boilerplate.pug

html
  head
    +generateBoilerplate(true)
    script(src="res/js/models/user.js")
    script(src="res/js/routes/delete_app.js")
    
  include utility/_modalWindow-mixins.pug

  body
    .full-background
    .full-container
      .primary-container-login
        .row.no-margin-mobile
          .col-lg-12.text-xs-center.text-md-left
            img(src='/res/img/sagebow.png')
        .row.m-t-1.no-margin-mobile
          .col-lg-6.text-xs-center.text-md-left
            h1.light-text Account Deletion
        .row.m-t-1.no-margin-mobile
          .col-lg-12.p-y-2
            div.cta-container(style="")
              .row(style="")
                .col-lg-5.extend-full-height
                  .email-address-container
                    .form-group
                      input#username.required.form-control.materialize-form(type="text", placeholder="Username")
                .col-lg-5.extend-full-height
                  div.password-container
                    .form-group
                      input#password.required.form-control.materialize-form(type="password", placeholder="Password")
                .col-lg-2(style="height: 50px;")
                  div.login-container
                    .form-group
                      a.btn.btn-login.danger Delete

