include utility/_boilerplate.pug
html
  head
    +generateBoilerplate(true)
    script(src="res/js/login/app.js")
    
  include utility/_modalWindow-mixins.pug

  body
    .full-background
    .full-container
      .primary-container-login
        .row.no-margin-mobile
          .col-lg-12.text-xs-center.text-md-left
            img(src='/res/img/sagebow.png')
        .row.m-t-1.no-margin-mobile
          .col-lg-6.text-xs-center.text-md-left
            h1.light-text Welcome back to Sagebow.
        .row.m-t-1.no-margin-mobile
          .col-lg-12.p-y-2
            div.cta-container
              .row
                .col-lg-5.extend-full-height
                  .email-address-container
                    .form-group
                      input#username.required.form-control.materialize-form(type="text", placeholder="Enter your username")
                .col-lg-5.extend-full-height
                  div.password-container
                    .form-group
                      input#password.required.form-control.materialize-form(type="password", placeholder="Enter your password")
                .col-lg-2
                  div.login-container
                    .form-group
                      a.btn.btn-login Login
              .row
                .col-lg-5.m.t-1.extend-full-height-absolute
                  div.text-xs-center.text-md-left
                    .form-group
                      a.btn.btn-make-account(href="/setup") Create a new account.
