include utility/_boilerplate.pug
html
  head
    +generateBoilerplate(false)
  body
    .navbar-sagebow
      .left-side
        a.brand-nav Sagebow
      .right-side
        a.page-nav Metrics
        a.page-nav Entry
        a.page-nav Log-Off
    .container-bs.page-header
      .row-bs
        h1 Fat Person History:
    .center 
      .graph
        .dot
      #resolutionSwitcher
        button.resolution(value='7') Week
        button.resolution(value='31') Month
        button.resolution(value='365') Year