include utility/_boilerplate.pug
html
  head
    +generateBoilerplate(false)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js")
    script(src="/res/js/structures.js")
    script(src="/res/js/plots.js")
    script(src="/res/js/navbar.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js')
  body
    +navbar()
    section#header.container
      .page-header
        .row-bs
          h1 Consumption Metrics
        .row-bs
          p Track your nutritional history to help make healthier, smarter decisions.
    section#graphical.container
        #metrics-view.bs.page.text-xs-center
          .metric-displayer.text-xs-center
            h4 Metrics View
          canvas(id="data-plot", width=400, height=200)
        #metrics-controls.bs.page.text-xs-left
          .metric-displayer.text-xs-center
            h4 Selectors
          .split-metric-selector
            select.btn-cluster(name='Date Range', id='date-range', subclasses="btn required btn-setup-dropdown")
              option Weekly
              option Monthly
              option Yearly
          .split-metric-selector
            select.btn-cluster(name='Metric', id='metric', subclasses="btn required btn-setup-dropdown")
              option Calories
              option Protein
              option Fat
              option Carbs
    section#statistics.container
        #statistics-view.bs.page.text-xs-center
          .metric-displayer.text-xs-center
            h4 Daily Consumption
          canvas(id="consumption-plot", width=400, height=200)