include utility/_boilerplate.pug
html
  head
    +generateBoilerplate(true)
    script(src="res/js/setup_app.js")
    include utility/_modalWindow-mixins.pug
    include utility/_mkacct_element_mixins.pug
    include utility/_dropdown_element_mixins.pug
  body
    .full-background
    .full-container
      .primary-container-setup.m-y-3
        .row.no-margin-mobile
          .col-lg-12.text-lg-left.text-xs-center
            img(src='/res/img/sagebow.png')
        .row.m-t-1.no-margin-mobile
          .col-lg-6.text-lg-left.text-xs-center
            h1.light-text Sign Up
          .col-lg-6.text-lg-right.text-xs-center
            h4.light-text-smaller Welcome To Sagebow!
        .row.m-t-1.no-margin-mobile
          .col-lg-12.p-y-2
            .cta-container
              +_accountCreation_form_generateFormInput("username", "Username")
              +_accountCreation_form_generateFormInputPassword("password", "Password")
              .row.m-t-1
                .col-xs-6
                  select.btn-cluster(name='Gender', id='gender', subclasses="btn required btn-setup-dropdown")
                    option Male
                    option Female
                  
                  // .row
                  //   a(id="gender" class=["btn", "btn-gender", "required", "btn-setup-dropdown"]) Gender
                  // .row
                  //   +generateBtnGroup("gender-selector", [["Female", "#", "dropdown-female"], ["Male", "#", "dropdown-male"]], "btn-setup-dropdown")
                .col-xs-6.p-y-0.super-small.p-x-2
                  p.text-xs-left All users of Sagebow should consult a physician before following any dietary advice given on this website.
              .row.m-t-1
                .col-xs-12.btn-cluster.m-b-2
                  select.btn-cluster(name='Goal', id='goal', subclasses="btn required btn-setup-dropdown")
                    option Weight Loss
                    option Toning
                    option Bodybuilding
                  .row.m-t-1
                .col-xs-12.btn-cluster.m-b-1
                  select.btn-cluster(name='Activity Level', id='activity-level', subclasses="btn required btn-setup-dropdown")
                    option Very Active
                    option Moderately Active
                    option Lightly Active
                    option Sedentary 
              +_accountCreation_form_generateFormInput("weight", "Weight (in pounds)")
              +_accountCreation_form_generateFormInput("height", "Height (in feet)")
              +_accountCreation_form_generateFormInput("age", "Age")
              .row.m-t-1.text-xs-center
                .col-xs-12
                  a(class=["btn", "btn-login"]) Create a new account.
              //+_accountCreation_form_generateDropdownForm("dropdown-gender", "Dropdown", ["Female", "Male"])
              //+_accountCreation_form_generateDropdownForm("dropdown-goal", "Goal", ["Bodybuilding", "Weight Loss", "Maintainence"])
  