mixin generateModalWindow(selector, headerText, headerSelector, bodyText, btnText, btnSelector)
  div(class=[selector, selector+"-hidden"])
    .overlay
      .window
        .top-text
          h2.m-b-1(class=headerSelector)=headerText
          p=bodyText
        .bottom-text.text-xs-right
          a(class=[btnSelector, "btn"])=btnText