mixin generateModalWindow(selector, headerText, bodyText, btnText, btnSelector)
  div(class=selector)
    .overlay
      .window
        .top-text
          h2.m-b-1=headerText
          p=bodyText
        .bottom-text.text-xs-right
          a(class=[btnSelector, "btn"])=btnText