@mixin generateDropdown {
    &-hidden {
	display: none;
	* {
	    display: none;
	}
    }

    * {
    }
}

.dropdown-menu-custom {
    color: red !important;
    position: absolute !important;
    z-index: 10000;
}
