.light-text {
    color: $white;
    opacity: 1;
    @media screen and (min-width: 768px) {
	font-size: 30px;
    }

    @media screen and (max-width: 767px) {
	font-size: 20px;
    }
}

.danger-text {
    color: #E53935;
}

i {
    color: $white;
}

.light-text-smaller {
    color: $white !important;
    opacity: 1;
    @media screen and (min-width: 768px) {
	font-size: 30px * .6666;
    }

    @media screen and (max-width: 767px) {
	font-size: 20px * .6666;
    }
}

.danger-text {
    color: #E53935;
}

i {
    color: $white;
}

.super-small {
    color: $white;
    font-size: 10px;
}

