.extend-full-height {
    @media screen and (min-width: 992px){
      height: 100%;
    }

    @media screen and (max-width: 991px){
	height: 100px;
    }
}

.extend-full-width {
    height: 100%;
}

.consistency-hide {
    color: transparent;
}

.no-margin-mobile {
    @media screen and (max-width: 992px) {
	margin: 0px;
    }
}

