.full-background {
    position: fixed;
	background: url('/res/img/primary_background.jpg') no-repeat center center fixed;
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -9999;
}

.full-container {
    width:100%;
    height:100%;
}

.primary-container {
    position:absolute;
    width:100%;
    top:20%;
    transform: translateY(-20%);
}

.dropdown-menu {
    display:flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}

.hidden {
    display: none !important;
}