.modal {
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 10000;
    left: 0;
    top: 0;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.8);
    transition-duration: background .8s;
    background: rgba(0, 0, 0, 0);
}

.modal.hidden {
    z-index: -9999 !important;
}

.modal.hidden .overlay {
    transition-duration: background .8s;
    background: rgba(0, 0, 0, 0) !important;
}

.modal .overlay {
    transition-duration: background .8s;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.5001);
	position: fixed;
	width: 100%;
	height: 100%;
}

.modal .window {
    position: fixed;
    background: white;

    top: 37.5%;
    transform: translateY(-37.5%);
    padding-top: 35px;
}

.modal .window .top-text {
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 25px;
}

.modal .window .bottom-text {
	margin-bottom: 8px;
	margin-right: 8px;
	margin-top: 25px;
}

@media (screen) and (max-width: 899px) {
     .modal .window {
         width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
     }
}

@media (screen) and (min-width: 900px){
    .modal .window {
      width: 500px;
      left: 50%;
      transform: translateX(-50%);
    }
}